.advantages {
  padding-top: 32px;

  @include centerer();

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 58px 220px 0;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
  }
}

.advantages__list {
  @include reset-list();

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  margin-bottom: 25px;
  padding-top: 58px;

  @media (min-width: $tablet-width) {
    width: 50%;
    margin-bottom: 53px;
    font-size: 20px;
    line-height: 1.1;
  }

  &--ecology {
    padding-right: 63px;

    @media (min-width: $tablet-width) {
      padding-right: 105px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 125px;
    }
  }

  &--good-price {
    padding-right: 36px;

    @media (min-width: $tablet-width) {
      order: 2;
      padding-right: 100px;
    }
  }

  &--more-likes {
    padding-right: 55px;

    @media (min-width: $tablet-width) {
      order: 4;
      padding-right: 120px;
    }
  }

  &--handmade {
    padding-right: 4px;

    @media (min-width: $tablet-width) {
      order: 1;
      padding-right: 33px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 55px;
    }
  }

  &--russian-produced {
    @media (min-width: $tablet-width) {
      order: 3;
    }
  }

  &--gift-wrap {
    margin-bottom: 0;
    padding-right: 9px;

    @media (min-width: $tablet-width) {
      order: 5;
      padding-right: 40px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 60px;
    }
  }
}
