.checkbox-list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 875px;
  }
}

.checkbox-list__item {
  margin-bottom: 31px;
  padding-top: 10px;
  padding-left: 62px;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin-bottom: 54px;
    padding-top: 0;
    padding-left: 80px;

    &:nth-child(2n+1) {
      margin-right: 32px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 33px;
  }
}

.checkbox-list__input:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -53px;
  width: 22px;
  height: 16px;
  background-image: url("#{$image-dir}/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    left: -68px;
    width: 33px;
    height: 22px;
    background-size: contain;
  }
}

.checkbox-list__label {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: -62px;
    width: 40px;
    height: 39px;
    border: 2px solid $gray--dark;

    @media (min-width: $tablet-width) {
      width: 54px;
      height: 52px;
      left: -80px;
      bottom: -14px;
    }
  }

  &:hover::before,
  &:focus::before {
    border-color: $brand-color;
  }

  &:active::before {
    border-color: rgba($gray--dark, 0.3);
  }
}
