.contacts {
  padding-top: 34px;
  padding-bottom: 39px;

  @include centerer-nopaddings();

  @media (min-width: $tablet-width) {
    padding-top: 37px;
    padding-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 102px;
    padding-bottom: 50px;
  }
}

.contacts__main-wrapper {
  @include centerer;

  @media (min-width: $desktop-width) {
    padding-top: 67px;
    padding-left: 220px;
  }
}

.contacts__main-wrapper,
.contacts__map {
  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 1.7;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
    font-size: 43px;
    line-height: $line-height--primary;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    margin-bottom: 45px;
  }
}

.contacts__details {
  width: 100%;
  margin-bottom: 8px;
  border-collapse: collapse;
  font-size: 15px;
  line-height: 2;
  font-weight: $font-weight--secondary;
  color: $gray--dark;

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
    padding: 0 50px;
    font-size: $font-size--body;
    line-height: 1.8;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.contacts__wrapper {
  vertical-align: top;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.contacts__email,
.contacts__address {
  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.contacts__link {
  position: relative;
  color: inherit;

  &::before {
    content: "";
    position: absolute;
    top: 23px;
    left: 2px;
    width: 177px;
    height: 1px;
    background-color: $brand-color;

    @media (min-width: $tablet-width) {
      top: 26px;
      left: 0;
      width: 200px;
    }
  }
}

.contacts__field {
  width: 77px;
}

.contacts__value span {
  display: block;
}

.contacts__field,
.contacts__value {
  padding-bottom: 29px;
}

.contacts__map {
  margin-bottom: 35px;
  background-image: url("#{$image-dir}/map-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    margin-bottom: 51px;
    background-image: url("#{image-dir}/map-tablet@1x.jpg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("#{image-dir}/map-desktop@1x.jpg");
  }
}

.contacts__map iframe {
  @media (max-width: 767px) {
    width: 320px;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
  }
}

.contacts__feedback-button {
  margin: 0 auto;
  width: 260px;

  @media (min-width: $tablet-width) {
    width: 230px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 225px;
    bottom: 105px;
  }
}
