.contacts {
  padding-top: 34px;
  padding-bottom: 39px;

  outline: $outline;

  @include centerer-nopaddings();

  @media (min-width: $desktop-width) {
    position: relative;

    display: flex;
    justify-content: space-between;
    padding: 70px 100px 0;
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 26px;
  padding: 0 30px;

  font-size: 18px;
  line-height: 1.7;

  @media (min-width: $tablet-width) {
    padding: 0 50px;

    font-size: 43px;
    line-height: $line-height--primary;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    padding-left: 175px;
  }
}

.contacts__details {
  width: 100%;
  margin-bottom: 40px;
  padding: 0 30px;

  font-size: 15px;
  line-height: 2;
  font-weight: $font-weight--secondary;
  color: $gray--dark;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
    font-size: $font-size--body;
    line-height: 1.8;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-left: 175px;
  }
}

.contacts__wrapper {
  vertical-align: top;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.contacts__email,
.contacts__address {
  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.contacts__link {
  color: inherit;
}

.contacts__field {
  width: 77px;
}

.contacts__value span {
  display: block;
}

.contacts__field,
.contacts__value {
  padding-bottom: 38px;
}

.contacts__map {
  margin-bottom: 39px;

  background-image: url("#{$image-dir}/map-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.contacts__map iframe {
  @media (max-width: 767px) {
    width: 320px;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
  }
}

.contacts__feedback-button {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 230px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 275px;
    bottom: 100px;
  }
}
