.form {
  padding: 0 30px 56px;

  @include centerer-nopaddings();

  @media (min-width: $tablet-width) {
    padding: 0 0 51px;
  }
}

.form__intro {
  margin: 0;
  padding-top: 24px;
  padding-bottom: 25px;
  font-size: 13px;
  line-height: 1.8;
  font-weight: $font-weight--secondary;
  color: $gray--dark;

  @include centerer();

  @media (min-width: $tablet-width) {
    padding-bottom: 9px;
    font-size: $font-size--body;
  }

  @media (min-width: $desktop-width) {
    padding: 81px 225px 9px;
  }
}

.form__title {
  position: relative;
  margin-bottom: 23px;
  color: $brand-color--light;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 9px;
    right: 0;
    width: 198px;
    height: 1px;
    background-color: $brand-color;
  }

  @media (min-width: $tablet-width) {
    width: 167px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 175px;
    padding-left: 60px;
  }

  &--email {
    &::after {
      width: 179px;
    }
  }
}

.form__wrapper {
  &--type {
    margin-bottom: 42px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &--color {
    margin-bottom: 39px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
      padding-top: 18px;
    }
  }

  &--name {
    margin-bottom: 31px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &--contacts {
    margin-bottom: 31px;

    @media (min-width: $tablet-width) {
      margin-bottom: 13px;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 225px;
  }

  &--message {
    @media (min-width: $tablet-width) {
      margin-bottom: 3px;
      padding: 50px 50px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 225px;
      padding-bottom: 45px;
    }
  }

  &--footer {
    @media (min-width: $tablet-width) {
      justify-content: space-between;
      align-items: center;
    }

    @media (min-width: $desktop-width) {
      padding: 0 225px;
    }
  }
}

.form fieldset {
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    padding-top: 63px;
    padding-bottom: 13px;
  }
}

.form__type {
  margin-bottom: 27px;
}

.form__color,
.form__client-contacts {
  @media (min-width: $tablet-width) {
    background-color: $gray;
  }
}

.form__list {
  @include reset-list();

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }
}

.form__submit {
  width: 260px;
  font-weight: inherit;
  background-color: inherit;

  @media (min-width: $tablet-width) {
    width: 230px;
  }
}
