.form {
  padding-right: 30px;
  padding-bottom: 55px;
  padding-left: 30px;

  outline: $outline;

  @include centerer-nopaddings();

  @media (min-width: $tablet-width) {
    padding-right: 0;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    @include centerer-secondary--nopaddings();
  }
}

.form__intro {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;

  font-size: 13px;
  line-height: 1.8;
  font-weight: $font-weight--secondary;
  color: $gray--dark;

  @include centerer();

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;

    font-size: $font-size--body;
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
  }
}

.form__title {
  margin-bottom: 23px;

  color: $brand-color--light;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 167px;
  }

  @media (min-width: $desktop-width) {
    width: 175px;
    padding-left: 60px;
  }
}

.form__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    padding-right: 50px;
    padding-left: 50px;
  }

  &--name,
  &--contacts,
  &--message {
    @media (min-width: $tablet-width) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  &--footer {
    @media (min-width: $tablet-width) {
      justify-content: space-between;
      align-items: center;
    }

    @media (min-width: $desktop-width) {
      padding-right: 225px;
      padding-left: 225px;
    }
  }
}

.form__type,
.form__color,
.form__client-info {
  margin: 0;
  padding: 0;

  border: none;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.form__color,
.form__wrapper--contacts {
  @media (min-width: $tablet-width) {
    background-color: $gray;
  }
}

.form__list {
  @include reset-list();

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }
}

.form__client-info {
  margin-bottom: 31px;
}

.form__submit {
  font-weight: inherit;

  background-color: inherit;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 230;
  }
}
