.form {
  @media (max-width: 767px) {
    @include centerer-nopaddings();
  }

  padding: 0 30px 57px;

  @media (min-width: $tablet-width) {
    padding: 0 0 51px;
  }
}

.form__title {
  position: relative;
  margin: 0;
  margin-bottom: 24px;
  font-size: 17px;
  font-weight: $font-weight--primary;
  color: $brand-color--light;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 9px;
    right: 0;
    width: 198px;
    height: 1px;
    background-color: $brand-color;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--email::after {
    width: 179px;
  }

  @media (min-width: $tablet-width) {
    width: 167px;
  }

  @media (min-width: $desktop-width) {
    width: 175px;
    padding-left: 60px;
  }
}

.form__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    padding: 0 50px;

    @include centerer-nopaddings();
  }

  &--type {
    margin-bottom: 42px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &--color {
    margin-bottom: 37px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &--name {
    margin-bottom: 30px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      padding-right: 225px;
    }
  }

  &--contacts {
    margin-bottom: 31px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      padding-right: 225px;
    }
  }

  &--message {
    @media (min-width: $tablet-width) {
      margin-bottom: 3px;
      padding: 50px 50px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 225px;
      padding-bottom: 45px;
    }
  }

  &--footer {
    @media (min-width: $tablet-width) {
      justify-content: space-between;
      align-items: center;
    }

    @media (min-width: $desktop-width) {
      padding: 0 225px;
    }
  }
}

.form__type,
.form__color,
.form__client-name,
.form__client-contacts {
  @media (min-width: $tablet-width) {
    padding-top: 63px;
    padding-bottom: 13px;
  }
}

.form__type {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.form__color,
.form__client-contacts {
  @media (min-width: $tablet-width) {
    background-color: $gray;
  }
}

.form__list {
  @include reset-list();

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }
}

.form__message-label {
  display: block;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-top: 16px;
  }
}

.form__message-input {
  display: block;
  width: 100%;
  min-height: 142px;
  margin-bottom: 16px;
  padding-top: 13px;
  padding-left: 15px;
  color: $gray--dark;
  background-color: inherit;
  border: 2px solid $gray--dark;


  &:hover,
  &:focus,
  &:active {
    border-color: $brand-color;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-grow: 1;
    width: auto;
    margin-bottom: 0;
    font-size: 19px;

    &::placeholder {
      @include placeholder();
    }
  }
}

.form__required-fileds {
  display: block;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 1.1;
  font-weight: $font-weight--secondary;
  color: $gray--dark;

  @media (min-width: $tablet-width) {
    order: 1;
    margin-bottom: 0;
    font-size: $font-size--body;
    line-height: 1.8;
  }
}

.form__submit {
  width: 260px;
  font-weight: inherit;
  background-color: inherit;

  @media (min-width: $tablet-width) {
    width: 230px;
  }
}
