.ghost-button {
  display: block;
  padding: 14px 10px;
  text-align: center;
  text-transform: uppercase;
  color: $gray--dark;

  border: 2px solid $gray--dark;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: $gray--dark;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--add-to-cart {
    width: 260px;
    margin: 0 auto;
    padding: 16px 10px;
    font-weight: inherit;
    color: #ffffff;
    background-color: $brand-color--light;
    border: none;

    @media (min-width: $tablet-width) {
      width: 350px;
    }
  }
}
