.ghost-button {
  display: block;
  padding: 14px 10px;
  text-align: center;
  text-transform: uppercase;
  color: $gray--dark;

  border: 2px solid $gray--dark;

  &--add-to-cart {
    margin: 0 auto;
    font-weight: inherit;
    color: #ffffff;
    background-color: $brand-color--light;
    border: none;

    @media (min-width: $tablet-width) {
      width: 350px;
    }
  }
}
