.ghost-button {
  display: block;
  width: 260px;
  margin: 0 auto;
  padding: 14px 10px;

  text-align: center;
  text-transform: uppercase;
  color: inherit;

  border: 2px solid $gray--dark;

  &--add-to-cart {
    font-weight: inherit;
    color: #ffffff;

    background-color: $brand-color--light;
    border: none;

    @media (min-width: $tablet-width) {
      width: 350px;
    }
  }
}
