.making-video {
  padding-bottom: 58px;

  @include centerer();

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding-top: 3px;
    padding-bottom: 76px;

    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

.making-video__wrapper {
  border: 1px solid #ececec;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    min-height: 455px;
  }
}

.making-video__title {
  position: relative;
  margin: 0;
  padding: 24px 0 27px 90px;
  font-size: inherit;
  line-height: 1.4;

  &::before {
    content: "";
    position: absolute;
    top: 29px;
    left: 33px;
    width: 32px;
    height: 32px;
    background-image: url("#{$image-dir}/icon-video.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 5px;
      left: 41px;
    }

    @media (min-width: $desktop-width) {
      top: 40px;
      left: 64px;
    }
  }

  @media (min-width: $tablet-width) {
    order: 2;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-left: 105px;
    font-size: 20px;
    line-height: $line-height--primary;
  }

  @media (min-width: $desktop-width) {
    float: right;
    width: 350px;
    margin-bottom: 33px;
    padding: 95px 51px 0 62px;
  }
}

.making-video__image-wrapper {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    order: 1;
  }

  @media (min-width: $desktop-width) {
    float: left;
  }
}

.making-video__play-button {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 78px;
    bottom: 41px;
    width: 101px;
    height: 77px;
    background-image: url("#{$image-dir}/icon-play.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      left: 282px;
      bottom: 194px;
    }
  }

  &:hover::before,
  &:focus::before {
    transform: scale(1.2);
  }

  &:active::before {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.making-video__description {
  margin: 0;
  margin-bottom: 24px;
  padding: 0 34px;
  font-size: 13px;
  line-height: 1.9;
  font-weight: $font-weight--secondary;
  color: $gray--dark;

  @media (min-width: $tablet-width) {
    order: 3;
    margin-bottom: 35px;
    padding-right: 45px;
    padding-left: 39px;
    font-size: 15px;
    line-height: 2;
  }

  @media (min-width: $desktop-width) {
    float: right;
    width: 350px;
    margin-bottom: 46px;
    padding-left: 61px;
  }
}

.making-video__order-placing {
  order: 4;
  width: 192px;
  margin: 0 auto;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    width: 584px;
  }

  @media (min-width: $desktop-width) {
    float: right;
    width: 230px;
    margin-right: 57px;
  }
}
