.modal {
  padding-bottom: 46px;

  outline: $outline;

  @include centerer();
}

.modal__title {
  margin-bottom: 25px;
  padding-left: 55px;
  padding-right: 55px;

  text-align: center;
}

.modal__intro {
  margin: 0;
  margin-bottom: 28px;

  font-size: 15px;
  line-height: 2px;
  font-weight: $font-weight--secondary;
  color: $gray--dark;
  text-align: center;
}

.modal__list {
  margin: 0;
  margin-bottom: 31px;
}
