.page-title {
  padding-top: 75px;
  padding-bottom: 75px;

  font-size: $font-size--page-title;
  line-height: 1.1;
  text-align: center;

  background-color: $gray;
  outline: $outline;

  @include centerer();

  &--index {
    padding-bottom: 120px;

    background-image: url("#{$image-dir}/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }

  span {
    display: block;
  }
}
