.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;

  @include centerer-nopaddings();

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include centerer();
  }

  @media (min-width: $desktop-width) {
    min-height: 88px;
  }

  &--no-js {
    .page-header__button {
      display: none;
    }
  }
}

.page-header__wrapper {
  display: flex;
  align-items: center;
  padding: 18px 0;

  @media (min-width: $tablet-width) {
    order: 1;
    margin-right: auto;
    padding: 15px 0;
  }

  @media (min-width: $desktop-width) {
    order: 2;
    margin: 0;
    padding: 0;
    padding-right: 63px;
  }
}

.page-header__logo {
  margin: 0 auto;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.page-header__logo-image {
  padding-top: 4px;
}

.page-header__button {
  position: absolute;
  top: 28px;
  right: 31px;
  display: block;
  width: 23px;
  height: 23px;
  padding: 0;
  background-color: inherit;
  cursor: pointer;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 7px 0 0 #221f1f, 0 14px 0 0 #221f1f;
  }

  &--close {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 10px;
      left: -2px;
      width: 28px;
      height: 2px;
      background-color: #221f1f;
    }

    &::before {
      transform: rotate(44deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-44deg);
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__navigation {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    order: 3;
    z-index: 1;
    margin-bottom: -92px;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    margin-bottom: -5px;
  }

  &--user {
    @media (min-width: $tablet-width) {
      order: 2;
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      order: 3;
    }
  }

  .page-header--no-js & {
    display: block;
  }

  &--opened {
    display: block;
  }
}

.page-header__site-nav {
  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 1.6;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-size--body;
    line-height: 1.4;
  }
}

.page-header__site-nav-item {
  @media (min-width: $tablet-width) {
    margin-right: 36px;
  }

  &:nth-child(2) {
    @media (min-width: $desktop-width) {
      padding-left: 35px;
      border-left: 1px solid #ececec;
    }
  }
}

.page-header__additional-nav-wrapper {
  @media (min-width: $desktop-width) {
    order: 4;
    z-index: 1;
    margin-bottom: -42px;
  }
}

.page-header__additional-nav {
  display: none;

  @include reset-list();

  @media (min-width: $desktop-width) {
    display: flex;
    font-size: 15px;
    line-height: 1.6;
  }
}

.page-header__additional-nav-item {
  padding-top: 22px;
  padding-right: 60px;
}

.page-header__delivery {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    order: 4;
    z-index: 1;
    margin: 0;
    margin-bottom: -42px;
    padding-top: 22px;
    font-size: 15px;
    line-height: 1.6;
    font-weight: $font-weight--secondary;
    color: $gray--dark;
  }

  @media (min-width: $desktop-width) {
    order: 5;
  }
}
