.page-footer {
  background-color: $gray;

  outline: $outline;

  @include centerer();

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 143px;
  }

  &--secondary {
    @media (min-width: $desktop-width) {
      @include centerer-secondary();
    }
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding-right: 120px;
  }
}
