.page-footer {
  background-color: $gray;
}

.page-footer__wrapper {
  @include centerer();

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 143px;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding-right: 120px;
  }
}

.page-footer__logo-image {
  fill: #231f20;
}

.page-footer__logo[href] .page-footer__logo-image {
  &:hover,
  &:focus {
    fill: #46c1ae;
  }

  &:active {
    fill: rgba(70, 193, 174, 0.3);
  }
}
