.page-title {
  margin: 0;
  padding-top: 71px;
  padding-bottom: 75px;
  font-size: $font-size--page-title;
  line-height: 1.1;
  text-align: center;

  @include centerer();

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: $line-height--primary;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
  }

  &--index {
    padding-bottom: 124px;

    @media (min-width: $tablet-width) {
      padding-top: 152px;
      padding-bottom: 489px;
    }

    @media (min-width: $desktop-width) {
      padding: 152px 210px 480px 210px;
      line-height: 1.1;
    }
  }

  &--catalog {
    margin-bottom: 30px;
    padding-bottom: 76px;

    @media (min-width: $tablet-width) {
      margin-bottom: 81px;
      padding-top: 94px;
      padding-bottom: 78px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 125px;
      padding-top: 92px;
      padding-bottom: 105px;

      &::after {
        bottom: -12px;
      }
    }
  }

  span {
    display: block;

    @media (min-width: $tablet-width) {
      display: inline-block;
    }
  }

  &--form {
    @media (min-width: $tablet-width) {
      margin-bottom: 42px;
      padding-top: 92px;
      padding-bottom: 87px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 102px;
    }
  }
}

.page-title__wrapper {
  background-color: $gray;

  &--index {
    background-image: url("#{$image-dir}/hero-mobile@1x.jpg");
    background-position: center -18px;
    background-color: inherit;

    @media (min-width: $tablet-width) {
      background-image: url("#{$image-dir}/hero-tablet@1x.jpg");
      background-position: center;
    }

    @media (min-width: $desktop-width) {
      background-image: url("#{$image-dir}/hero-desktop@1x.jpg");
      background-position: top;
    }
  }

  @media (min-width: $tablet-width) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: -13px;
      left: 0;
      width: 100%;
      height: 23px;
      background-image: url("#{$image-dir}/bg-zigzag-fill.svg");
      background-size: contain;

      @media (min-width: $desktop-width) {
        bottom: -15px;
        height: 34px;
      }
    }
  }
}
