.radio-list__item {
  margin-bottom: 15px;
  padding-top: 6px;
  padding-left: 63px;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
    padding-top: 0;
    padding-left: 80px;
  }
}

.radio-list__input:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -51px;
  width: 16px;
  height: 16px;
  background-color: $brand-color;
  border: none;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 2px;
    left: -65px;
    width: 22px;
    height: 22px;
  }
}

.radio-list__input:focus + .radio-list__label::before {
  border-color: rgba($gray--dark, 0.3);
}

.radio-list__label {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: -63px;
    width: 40px;
    height: 40px;
    border: 2px solid $gray--dark;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 52px;
      height: 52px;
      top: -13px;
      left: -80px;
    }
  }

  &:hover::before,
  &:focus::before {
    border-color: $brand-color;
  }

  &:active::before {
    border-color: rgba($gray--dark, 0.3);
  }
}
