.reviews {
  position: relative;
  padding-top: 53px;
  padding-bottom: 52px;

  @include centerer();

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-image: url("#{$image-dir}/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: $tablet-width) {
      bottom: 24px;
      height: 17px;
      background-size: cover;
    }

    @media (min-width: $desktop-width) {
      bottom: -31px;
      left: 50px;
      width: 1050px;
      height: 23px;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 76px;
    padding-bottom: 120px;
    background-image: url("#{$image-dir}/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: top left;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("#{$image-dir}/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 105px;
    padding-left: 225px;
    background-position: 50px 37px;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
  }
}

.reviews__item {
  margin: 0;
  margin-bottom: 27px;
  font-size: 15px;
  line-height: 2;
  font-weight: $font-weight--secondary;
  color: $gray--dark;

  @media (min-width: $tablet-width) {
    order: 2;
    padding-top: 4px;
    font-size: $font-size--body;
    line-height: 1.8;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 8px;
    padding-right: 100px;
  }
}

.reviews__author-wrapper {
  @media (min-width: $tablet-width) {
    order: 3;
  }
}

.reviews__author-name {
  margin: 0;
  margin-bottom: 4px;
  line-height: 1.4;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 1.3;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-size--body;
    line-height: 1.4;
  }
}

.reviews__author-account {
  line-height: 1.8;
  font-weight: $font-weight--secondary;
  color: $gray--dark;
}

.reviews__arrow-wrapper {
  display: flex;
  margin-top: 28px;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    order: 4;
    margin-top: 30px;
  }
}

.reviews__arrow {
  width: 131px;
  height: 53px;
  background-repeat: no-repeat;
  background-color: inherit;
  background-position: center;
  border: 1px solid #ececec;

  &--left {
    background-image: url("#{$image-dir}/icon-left-arrow.svg");
    border-right: 1px solid #ececec;

    @media (min-width: $tablet-width) {
      padding-right: 79px;
    }
  }

  &--right {
    background-image: url("#{$image-dir}/icon-right-arrow.svg");
    border-left: none;

    @media (min-width: $tablet-width) {
      padding-left: 81px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 50px;
    border: none;
  }
}

.reviews__write-us {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 79px;
    right: 50px;
    order: 1;
    margin: 0;
    margin-bottom: 65px;
    width: 175px;
  }

  @media (min-width: $desktop-width) {
    top: 116px;
  }
}
