.reviews {
  padding-top: 30px;
  padding-bottom: 52px;
  outline: $outline;

  @include centerer();
}

.reviews__title {
  margin: 0;
  margin-bottom: 38px;
}

.reviews__item {
  margin: 0;
  margin-bottom: 40px;

  font-size: 15px;
  line-height: 2;
  font-weight: $font-weight--secondary;
  color: $gray--dark;
}

.reviews__author-name {
  margin: 0;
  margin-bottom: 4px;

  line-height: 1.4;
}

.reviews__author-account {
  line-height: 1.8;
  font-weight: $font-weight--secondary;
  color: $gray--dark;
}

.reviews__arrow-wrapper {
  display: flex;
  margin-top: 28px;
  margin-bottom: 38px;
}

.reviews__arrow {
  width: 131px;
  height: 53px;

  background-color: inherit;
  background-position: center;
  border: 1px solid #ececec;

  &--left {
    background-image: url("#{$image-dir}icon-left-arrow.svg");
    background-repeat: no-repeat;
    border-right: 1px solid #ececec;
  }

  &--right {
    background-image: url("#{$image-dir}icon-right-arrow.svg");
    background-repeat: no-repeat;
    border-left: none;
  }
}

.reviews__write-us {
  margin: 0 auto;
  padding-left: 84px;
  padding-right: 85px;
}
