.site-list {
  @include reset-list();

  @media (min-width: $tablet-width) {
    display: flex;
    height: 100%;
  }
}

.site-list__item {
  display: flex;
  padding: 30px 0 30px 76px;
  border-top: 1px solid #ececec;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-left: 0;
    padding-bottom: 34px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 31px;
  }

  &--search {
    position: relative;

    @media (min-width: $tablet-width) {
      padding-top: 31px;
      padding-left: 83px;
      border-left: 1px solid #ececec;
    }
  }

  &--cart {
    position: relative;

    @media (min-width: $tablet-width) {
      padding-top: 31px;
      padding-left: 82px;
      border-left: 1px solid #ececec;
    }
  }
}

.site-list__link {
  color: inherit;
  line-height: 1.4;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.site-list__icon {
  position: absolute;
  left: 30px;

  &--search {
    width: 18px;
    height: 19px;
    fill: rgba(34, 31, 31, 0.2);

    @media (min-width: $tablet-width) {
      top: 36px;
      left: 34px;
    }

    &:hover,
    &:focus {
      fill: $brand-color--light;
    }

    &:active {
      fill: rgba($brand-color--light, 0.3);
    }
  }

  &--cart {
    width: 21px;
    height: 18px;
    fill: rgba(34, 31, 31, 0.2);

    @media (min-width: $tablet-width) {
      top: 35px;
      left: 31px;
    }

    &:hover,
    &:focus {
      fill: $brand-color--light;
    }

    &:active {
      fill: rgba($brand-color--light, 0.3);
    }
  }
}

.site-list__text {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
