.site-list {
  @include reset-list();

  @media (min-width: $tablet-width) {
    display: flex;
    height: 100%;
  }
}

.site-list__item {
  display: flex;
  padding: 30px 0 30px 76px;
  border-top: 1px solid #ececec;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    padding-left: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 31px;
  }

  &--search {
    position: relative;

    @media (min-width: $tablet-width) {
      padding-top: 31px;
      padding-left: 83px;
      border-left: 1px solid #ececec;
    }
  }

  &--cart {
    position: relative;

    @media (min-width: $tablet-width) {
      padding-top: 31px;
      padding-left: 82px;
      border-left: 1px solid #ececec;
    }
  }
}

.site-list__link {
  color: inherit;
  line-height: 1.4;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list__icon {
  position: absolute;
  left: 30px;

  &--search {
    width: 18px;
    height: 19px;
  }

  &--cart {
    width: 21px;
    height: 18px;
  }
}

.site-list__text {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
