.social {
  padding: 23px 62px 25px 57px;
  border-bottom: 1px solid #ececec;

  @media (min-width: $tablet-width) {
    padding-top: 26px;
    padding-right: 0;
    padding-left: 0;
    border-bottom: none;
  }
}

.social__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include reset-list();
}

.social__item {
  @media (min-width: $tablet-width) {
    padding-right: 40px;
  }
}

.social__link-icons {
  fill: #221f1f;

  &:hover,
  &:focus {
    fill: #46c1ae;
  }

  &:active {
    fill: rgba(70, 193, 174, 0.3);
  }
}
