.social {
  padding: 23px 62px 25px 57px;
  border-bottom: 1px solid #ececec;

  @media (min-width: $tablet-width) {
    padding-right: 0;
    padding-left: 0;
  }
}

.social__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include reset-list();
}

.social__item {
  @media (min-width: $tablet-width) {
    padding-right: 40px;
  }
}
