.store-sections {
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0;
    background-color: #f9f9f9;

    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: -13px;
      left: 0;
      width: 100%;
      height: 23px;
      background-image: url("#{$image-dir}/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: contain;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      bottom: -22px;
      height: 37px;
    }
  }
}

.store-sections__list {
  @include reset-list();

  @media (min-width: $tablet-width) {
    @include centerer();

    position: relative;
    display: flex;
    margin-top: -117px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -121px;
  }
}

.store-sections__items {
  position: relative;

  &--primary {
    background-color: $brand-color--light;
  }

  &--secondary {
    background-color: $brand-color--dark;
  }

  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.store-sections__button {
  position: relative;
  display: block;
  padding: 24px 120px 31px 28px;
  font-size: 19px;
  line-height: 1.3;
  color: #ffffff;

  @media (max-width: 767px) {
    @include centerer-nopaddings();
  }

  @media (min-width: $tablet-width) {
    padding: 28px 120px 29px 36px;
    font-size: 20px;
    line-height: 1.5;
  }

  &--primary {
    background-color: $brand-color--light;

    &::before {
      content: "";
      position: absolute;
      right: 36px;
      width: 40px;
      height: 62px;
      background-image: url("#{$image-dir}/icon-interior.svg");
      background-repeat: no-repeat;
      opacity: 0.5;

      @media (min-width: $tablet-width) {
        top: 30px;
        right: 37px;
      }
    }

    @media (min-width: $desktop-width) {
      padding-right: 275px;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: #59d5bc;
    }
  }

  &--secondary {
    background-color: $brand-color--dark;

    &::before {
      content: "";
      position: absolute;
      top: 21px;
      right: 28px;
      width: 60px;
      height: 60px;
      background-image: url("#{$image-dir}/icon-toy.svg");
      background-repeat: no-repeat;
      opacity: 0.5;

      @media (min-width: $tablet-width) {
        top: 31px;
        right: 34px;
      }
    }

    @media (min-width: $desktop-width) {
      padding-right: 315px;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: #46c1ae;
    }
  }

  &:hover,
  &:focus {
    margin-top: -5px;
    padding-top: 20px;
    padding-bottom: 41px;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:hover::before,
  &:focus::before {
    opacity: 0.7;
  }

  &:active::before {
    opacity: 0.3;
  }
}
