.weeks-bestseller {
  position: relative;
  padding-top: 27px;
  padding-bottom: 38px;

  @include centerer();

  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: -3px;
    width: 100%;
    height: 6px;
    background-image: url("#{$image-dir}/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);

    @media (min-width: $tablet-width) {
      bottom: -8px;
      height: 17px;
      background-size: cover;
    }

    @media (min-width: $desktop-width) {
      width: 1050px;
      height: 23px;
      left: 50px;
    }
  }

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 35px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 63px;
    padding-bottom: 70px;
  }
}

.weeks-bestseller__titles-wrapper {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 112px;
    left: 80px;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-bottom: 65px;
  }
}

.weeks-bestseller__title {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-right: 138px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 86px;
  }
}

.weeks-bestseller__main-title {
  margin: 0;
  margin-top: 5px;
  color: $brand-color--light;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 80px;
    margin-top: 0;
    padding-top: 8px;
    text-align: center;
    line-height: 1.1;
  }

  @media (min-width: $desktop-width) {
    margin-right: 58px;
    padding-left: 18px;
  }
}

.weeks-bestseller__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.weeks-bestseller__main-wrapper {
  @media (min-width: $tablet-width) {
    padding-right: 43px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 50px;
    padding-left: 175px;
  }
}

.weeks-bestseller__main-wrapper,
.weeks-bestseller__image {
  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.weeks-bestseller__description {
  margin: 0;
  margin-bottom: 18px;
  font-size: 15px;
  line-height: 1.6;
  font-weight: $font-weight--secondary;
  color: $gray--dark;

  @media (min-width: $tablet-width) {
    margin-top: -8px;
    margin-bottom: 36px;
    font-size: $font-size--body;
    line-height: 1.8;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 49px;
    padding-top: 165px;
  }
}

.weeks-bestseller__details {
  width: 100%;
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 1.3;
  font-weight: $font-weight--secondary;
  color: $gray--dark;
  border-collapse: collapse;
}

.weeks-bestseller__details-wrapper tr {
  border-bottom: 1px solid #ececec;
}

.weeks-bestseller__field,
.weeks-bestseller__value {
  padding: 10px 0;
}

.weeks-bestseller__field {
  width: 98px;
}

.weeks-bestseller__image {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.weeks-bestseller__footer-wrapper {
  @media (min-width: $tablet-width) {
    position: absolute;
    left: 47px;
    bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    left: 225px;
    bottom: 94px;
  }
}

.weeks-bestseller__price {
  display: block;
  margin-bottom: 28px;
  line-height: 1.4;
  font-weight: inherit;
  color: $gray--dark;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.weeks-bestseller__order-button {
  width: 259px;

  @media (min-width: $tablet-width) {
    width: 292px;
    margin: 0;
  }
}
