.advantages {
  margin-bottom: 60px;
  padding-top: 33px;

  outline: $outline;

  @include centerer;
}

.advantages__title {
  margin-bottom: 30px;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  margin-bottom: 30px;
  padding-top: 57px;
}

.advantages__item--ecology {
  padding-right: 63px;
}

.advantages__item--good-price {
  padding-right: 36px;
}

.advantages__item--more-likes {
  padding-right: 55px;
}

.advantages__item--handmade {
  padding-right: 4px;
}

.advantages__item--gift-wrap {
  padding-right: 9px;
}
