.ghost-button {
  display: block;
  margin: 0 auto;
  padding-top: 18px;
  padding-bottom: 18px;

  text-transform: uppercase;
  color: inherit;
  font-weight: inherit;

  background-color: inherit;
  border: 2px solid $gray--dark;
}

.ghost-button--add-to-cart {
  padding-left: 82px;
  padding-right: 83px;

  color: #ffffff;

  background-color: $brand-color--light;
  border: none;
}
