.making-video {
  padding-bottom: 33px;

  outline: $outline;

  @include centerer;
}

.making-video__title {
  margin: 0;
  padding-top: 30px;
  padding-left: 90px;
  padding-bottom: 20px;

  font-size: inherit;
  line-height: 1.4;
}

.making-video__wrapper {
  margin-bottom: 35px;
}

.making-video__description {
  margin: 0;
  margin-bottom: 29px;
  padding-left: 34px;
  padding-right: 34px;

  font-size: 13px;
  line-height: 1.8;
  font-weight: $font-weight--secondary;
  color: $gray--dark;
}

.making-video__order-placing {
  width: 192px;
  text-align: center;
}
