.page-title {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 75px;
  padding-bottom: 75px;

  font-size: $font-size--page-title;
  line-height: 1.1;
  text-align: center;

  background-color: $gray;
  outline: $outline;
}

.page-title--index {
  margin-bottom: 0;
  padding-top: 75px;
  padding-bottom: 120px;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
