.store-sections {
  outline: $outline;
}

.store-sections__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.store-sections__items {
  padding-top: 30px;
  padding-right: 184px;
  padding-bottom: 30px;
  padding-left: 28px;
}

.store-sections__items--primary {
  background-color: $brand-color--light;
}

.store-sections__items--secondary {
  background-color: $brand-color--dark;
}

.store-sections__button {
  font-size: 19px;
  line-height: 1.3;
  color: #ffffff;
}
