.weeks-bestseller {
  padding-top: 33px;
  padding-bottom: 36px;

  outline: $outline;

  @include centerer;
}

.weeks-bestseller__main-title {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 30px;

  color: $brand-color--light;
  text-transform: uppercase;
}

.weeks-bestseller__description {
  margin: 0;
  margin-bottom: 30px;

  font-size: 15px;
  line-height: 1.6;
  font-weight: $font-weight--secondary;
  color: $gray--dark;
}

.weeks-bestseller__details {
  margin-bottom: 30px;

  font-size: 15px;
  line-height: 1.3;
  font-weight: $font-weight--secondary;
  color: $gray--dark;
}

.weeks-bestseller__image {
  margin-bottom: 29px;
}

.weeks-bestseller__price {
  display: block;
  margin-bottom: 28px;

  line-height: 1.4;
  text-align: center;
}

.weeks-bestseller__order-button {
  padding-left: 84px;
  padding-right: 85px;
}
