@font-face {
  font-family: "Open Sans";
  src: url("#{$fonts-dir}/opensans.woff2") format("woff2"), url("#{$fonts-dir}/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("#{$fonts-dir}/opensansbold.woff2") format("woff2"), url("#{$fonts-dir}/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
