$gray--light: #f9f9f9;
$gray: #f1f1f1;
$gray--dark: #444444;

$brand-color--light: #63d1bb;
$brand-color--dark: #56c3b2;
$brand-color: #62d1ba;

$brand-font: "Open Sans", Arial, sans-serif;
$font-weight--primary: 700;
$font-weight--secondary: 400;
$font-size--page-title: 27px;
$font-size--body: 17px;
$line-height--primary: 1.2;

$outline: 2px solid red;
